@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #;
$secondary_color: #;
$background: #;
$border: #;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */



/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}